<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenHEMS</title>	
    <style>/* The switch - the box around the slider */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}

		/* Hide default HTML checkbox */
		.switch input {
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: #2196F3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
	</style>
</head>
<body>
<h1>Devices program</h1>
<div id="network"></div>
<input id="valid" type="image" src="../../img/correct_32.ico" onclick="onSave()" ></input>
<script>
var nodes = {{ nodes }};
var network = document.getElementById("network");
function setDevicesProgramm(nodes) {
	network.innerHTML="";
	var i = 0;
	for (const [nodeid, node] of Object.entries(nodes)) {
		let nodeDiv = document.createElement("div");
		var id ="node"+nodeid;
		nodeDiv.id = "div"+id;
		if (node.duration=="0") {
			checked	= "";
			display = " style=\"display:none\"";
		} else {
			checked	= " checked ";
			display = ""
			min = node.duration%60;
			hour = (node.duration-min)/60;
			node.duration=(""+hour).padStart(2,'0')+":"+(""+min).padStart(2,'0');
			// console.log("Duration:", node.duration)
		}
		nodeDiv.innerHTML='<label for="'+id+'"> '+node.name+'</label>:'
			+'<label class="switch">'
			+  '<input type="checkbox" name="'+id+'" id="'+id+'" " onclick="showMe(\''+id+'_conf\', this)"'+ checked+'>'
			+  '<span class="slider round"></span>'
			+'</label>'
			+'<span id="'+id+'_conf" '+display+'>'
			+	' Duration (hr:min): <input type="time" id="'+id+'_duration" name="'+id+'_duration" value="'+node.duration+'" onchange="changeSthg()">'
			+	' Timeout (Next hr:min): <input type="time" id="'+id+'_timeout" name="'+id+'_timeout" value="'+node.timeout+'" onchange="changeSthg()">'
			+'</span>';
		network.appendChild(nodeDiv);
		i++;
	}
}
setDevicesProgramm(nodes);
function changeSthg() {
	// console.log("changeSthg()");
	document.getElementById("valid").src="../../img/save_32.ico";
}
function onSave() {
	// console.log("onSave()");
	nodes = {};
	for (const divnode of network.children) {
		// console.log(divnode);
		const id = divnode.id.substring(7);
		// console.log("id:",id);
		const label = divnode.children[0].innerHTML;
		// console.log("label:",label);
		const checkbox = divnode.children[1].children[0];
		// console.log("checkbox:",checkbox);
		if (checkbox.checked) {
			durationVal = divnode.children[2].children[0].value;
			if (durationVal=="") duration = 0;
			else {
				const vals = durationVal.split(":");
				duration = parseInt(vals[0])*60 + parseInt(vals[1]);
			}
			timeout = divnode.children[2].children[1].value;
			if (timeout=="") timeout = 0;
		} else {
			duration = 0;
			timeout = 0;
		}
		nodes[id] = {name: label, duration: duration, timeout: timeout}
	}
	console.log("onSave() : nodes=",nodes);
	document.getElementById("valid").src="../../img/correct_32.ico";
}
function showMe (it, box) {
	var vis = (box.checked) ? "inline" : "none";
	// console.log("ShowMMe(",vis,")");
	document.getElementById(it).style.display = vis;
	changeSthg();
}
</script>
</body>
</html>
