[Unit]
Description = OpenHEMS server (core and web).
After = docker.target

[Service]
ExecStart = /home/olimex/openhems-sample/src/main.py

[Install]
WantedBy = multi-user.target

